/* @media(prefers-color-scheme: dark){
  :root{
    --cinza1:#000000;
    --cinza2:#0E0E0E;
    --cinza3:#1F1F1F;
    --cinza4:#333333;
    --cinza5:#707070;
    --cinza6:#9C968C;
    --cinza7:#ADADAD;
    --cinza8:#EBEBEB;
    --cinza9:#FFFFFF;
    --primario:#97ff36;
    --degrade:linear-gradient(180deg, #d6ff36, #4fbf07);
  }
} */